*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width:90%;
    background-color: bisque;
    height:fit-content;
    margin:auto;
    display: flex;
    justify-content: center;
    padding:5rem;
}
.container > div{
    background-color: rgb(250, 194, 141);
    padding:2rem;
    margin:2rem;
    text-align: center;
}
.container > div > form{
    padding:2rem;
    background-color: blanchedalmond;
    margin-top:5rem;
}
.container > div > form > button{
    padding:1.2rem;
    background-color: #0000ff;
    color: white;
    width:100%;
    font-size:1.3rem;
    margin:auto 1rem;
    margin-top:3rem;
}
.container > div > form > label , .container > div > form > input , .container > div > form > option , .container > div > form > select{
    padding:1.2rem;
    width:100%;
    text-align: center;
    margin:1rem 0rem;
}
p,a {
    font-size: 1.3rem;
    text-decoration: none;
    padding:1rem;
    margin-top: 2rem;
    display: inline;
}
#container{
    display: flex;
    flex-direction: column;
}
.btn{
    text-align: center;
    padding:2rem;
    margin:auto 2rem;
    background-color: rgb(143, 188, 150);
    color: white;
    
}
.logout{
    padding:2rem;
    color:white;
    background-color: black;
    border-radius: 10%;
    font-size: 1.3rem;
}
.card{
    width:50%;
    height:fit-content;
    padding:1rem;
    margin:auto;
    background-color: coral;
}
.card > h1 , h2,h3,h4,h5{
    padding:1rem;
}